*{
    margin: 0px;
    padding: 0px;
}

#fondo_header_footer{
    background-color: rgb(146, 32, 32);   
}

#menu{
    margin-top: 10px;
}

#tarjetas_juegos{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#juego_rodando_titulo{
    text-align: center;
    margin-top: 10px;
}

#juego_rodando_cuerpo{
    margin-top: 5px;
}

.juego_rodando_imagenes{
    width: 60%;
    height: auto;
    margin-bottom: 10px;
 }